#get-started-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 20%;
  align-items: center;
  height: 100vh;
}

#get-started-main h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--primary-color);
}

#get-started-main p {
  font-size: 2rem;
  text-align: center;
}
