#get-started-main {
  display: flex;
  padding-inline: 10%;
  gap: 2rem;
  justify-content: space-between;
  padding-block: 20%;
  align-items: center;
  height: 100vh;
}

#get-started-main img {
  height: 40vh;
  width: auto;
}
