.base-modal-styles input,
textarea {
  border-style: solid;
  resize: none;
}

.poster {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  color: var(--bg-secondary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 12rem;
  width: 8rem;
  object-fit: cover;
}
